<!DOCTYPE html>
<html>
<head>
  <title>--- BiblioPile --- </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <div class="container">
    <div class="row header"></div>
    <div class="row">
      <div class="span4 offset5">
        <div class="status-alerts" data-spy="affix" data-offset-top="20px"></div>
      </div>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>

</body>
</html>
